# Copy this file as .env

# Enable debugging mode
DEBUG=false

# Set to "1" to disable all logging output (console + file).
DISABLE_LOGGING=1
DISABLE_NUMBA_CUDA=1

# Telegram notifications
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
