# Copy this file as .env and replace the params below
DEBUG=false

# Set to "1" to disable all logging output (console + file).
DISABLE_LOGGING=0

# Telegram notifications
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
